@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@layer base {
  :root {
    --background: 6 100% 97%;
    --foreground: 354 31% 22%;

    --card: 0 0% 100%;
    --card-foreground: 354 31% 22%;

    --popover: 0 0% 100%;
    --popover-foreground: 354 31% 22%;

    --primary: 349 100% 65%;
    --primary-foreground: 0 0% 100%;

    --secondary: 351 100% 92%;
    --secondary-foreground: 349 100% 65%;

    --muted: 351 100% 92%;
    --muted-foreground: 354 31% 42%;

    --accent: 351 100% 86%;
    --accent-foreground: 349 100% 65%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 351 100% 88%;
    --input: 351 100% 92%;
    --ring: 349 100% 65%;

    --radius: 0.8rem;
  }

  .dark {
    --background: 354 31% 12%;
    --foreground: 0 0% 98%;

    --card: 354 31% 16%;
    --card-foreground: 0 0% 98%;

    --popover: 354 31% 12%;
    --popover-foreground: 0 0% 98%;

    --primary: 349 100% 65%;
    --primary-foreground: 0 0% 100%;

    --secondary: 354 31% 22%;
    --secondary-foreground: 0 0% 98%;

    --muted: 354 31% 22%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 354 31% 22%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 354 31% 22%;
    --input: 354 31% 22%;
    --ring: 349 100% 75%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: linear-gradient(135deg, hsl(6, 100%, 94%), hsl(28, 100%, 86%));
  }
}

.perspective-1000 {
  perspective: 1000px;
}
.transform-style-3d {
  transform-style: preserve-3d;
}
.backface-hidden {
  backface-visibility: hidden;
}
.rotate-y-180 {
  transform: rotateY(180deg);
}
